<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>

    <br>
    <br>

    <section>
      <div class="row">
        <div class="container">
          <h3>Categorias</h3>
          <br>
          <br>
          <div class="col s12 m3">
            <div class="card medium">
              <div class="card-image">
                <img src="https://www.tabacanasmokingshop.com/wp-content/uploads/2016/08/grinder-leafs-e1470950637863.jpg">
              </div>
              <div class="card-title">Dichavadores</div>
              <div class="card-content">
                <p>Objeto utilizado para facilitar a trituração do tabaco.</p>
              </div>
              <div class="card-action">
                <a href="#">Ver mais</a>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card medium">
              <div class="card-image">
                <img src="http://d26lpennugtm8s.cloudfront.net/stores/607/925/products/raw-classic1-3edbe019c037d7527b15125518525916-640-0.jpg">
              </div>
              <div class="card-title">Sedas</div>
              <div class="card-content">
                <p>Objeto utilizado para enrolar tabaco.</p>
              </div>
              <div class="card-action">
                <a href="#">Ver mais</a>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card medium">
              <div class="card-image">
                <img src="https://www.extra-imagens.com.br/Ferramentas/FerramentasManuais/Macaricos/6614142/790971580/Mini-Macarico-Isqueiro-recarregavel-com-chama-regulavel---Azul-6614142.jpg">
              </div>
              <div class="card-title">Isqueiro</div>
              <div class="card-content">
                <p>Objeto utilizado para criar chamas.</p>
              </div>
              <div class="card-action">
                <a href="#">Ver mais</a>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card medium">
              <div class="card-image">
                <img src="https://www.madrugashop.com/fotos/extragrande/7648fe1/narguile-hadi-mod-1-com-maleta-azul-27cm.jpg">
              </div>
              <div class="card-title">Narguile</div>
              <div class="card-content">
                <p>Espécie de cachimbo muito usado por hindus, persas e turcos, com o objetivo de inalar fumaça aromatizada.</p>
              </div>
              <div class="card-action">
                <a href="#">Ver mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <br>
    <br>

    <section>
      <div class="row">
        <div class="container">
          <h3>Promoções</h3>
          <br>
          <br>
        </div>
      </div>
    </section>

    <br>
    <br>

    <section>
      <div class="row">
        <div class="container">
          <h3>Lançamentos</h3>
          <br>
          <br>
        </div>
      </div>
    </section>

  </body>
</html>
